{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block  content %}
<!-- Preloader -->
<div id="tt-preloader">
    <div id="pre-status">
        <div class="preload-placeholder"></div>
    </div>
</div>
<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
    <div class="intro">
        <div class="intro-sub">Gustavo Del Negro</div>
        {% if pt_br %}
            <h1>{% trans "GEN2" %} <span> Full Stack</span></h1>
        {% else %}
            <h1> Full Stack <span>{% trans "GEN2" %}</span></h1>
        {% endif %}
        {% trans "about_me" %}
  <div class="social-icons">
    <ul class="list-inline">
      <li><a href="{{ settings.OWNER_INFO.git }}" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
      <li><a href="{{ settings.OWNER_INFO.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div> <!-- /.social-icons -->
    </div>
    <div class="mouse-icon">
        <div class="wheel"></div>
    </div>
</section><!-- End Home Section -->
<!-- Navigation -->
<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt=""></a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">{% trans "home" %}</a></li>
                    <li><a href="#about">{% trans "GEN3" %}</a></li>
                    <li><a href="#resume">{% trans "GEN4" %}</a></li>
                    <li><a href="#skills">{% trans "GEN5" %}</a></li>
                    <li><a href="#works">{% trans "GEN6" %}</a></li>
                    {% comment %}
                    <li><a href="#blog">{% trans "blog" %}</a></li>
                    {% endcomment %}
                    <li><a href="#contact">{% trans "GEN7" %}</a></li>
                </ul>
            </div>
        </div><!-- .container -->
    </nav>
</header><!-- End Navigation -->


<!-- About Section -->
<section id="about" class="about-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">{% trans "GEN3" %}</h2>

    <div class="row">

      <div class="col-md-4 col-md-push-8">
        <div class="biography">
          <div class="myphoto">
            <img src="static/images/myphoto.jpg" alt="">
          </div>
          <ul>
            <li><strong>{% trans "GEN16" %}:</strong> Gustavo Del Negro</li>
            <li><strong>{% trans "GEN22" %}:</strong> 11 Dec 1991</li>
            <li><strong>{% trans "GEN14" %}:</strong> Travessa Equador, 23 - PR, BR</li>
{#            <li><strong>{% trans "GEN21" %}:</strong> {% trans "nationality_string" %}</li>#}
            <li><strong>{% trans "GEN15" %}:</strong> {{ settings.MOBILE_NUMBER }}</li>
            <li><strong>Email:</strong> {{ settings.CONTACT_EMAIL }} </li>
          </ul>
        </div>
      </div> <!-- col-md-4 -->

      <div class="col-md-8 col-md-pull-4">
        <div class="short-info wow fadeInUp">
          <h3>{% trans "GEN8" %}</h3>
          <p>An opportunity to work and upgrade oneself, as well as being involved in an organization that believes in gaining a competitive edge and giving back to the community. I'm presently expanding my solid experience in UI / UX design. I focus on using my interpersonal skills to build good user experience and create a strong interest in my employers. I hope to develop skills in motion design and my knowledge of the Web, and become an honest asset to the business. As an individual, I'm self-confident you’ll find me creative, funny and naturally passionate. I’m a forward thinker, which others may find inspiring when working as a team.</p>
        </div>

        <div class="short-info wow fadeInUp">
          <h3>{% trans "GEN9" %} ?</h3>
          <p>I have been working as a web interface designer since. I have a love of clean, elegant styling, and I have lots of experience in the production of CSS3 and HTML5 for modern websites. I loving creating awesome as per my clients’ need. I think user experience when I try to craft something for my clients. Making a design awesome.</p>

          <ul class="list-check">
            <li>User Experience Design</li>
            <li>Interface Design</li>
            <li>Product Design</li>
            <li>Branding Design</li>
            <li>Digital Painting</li>
            <li>Video Editing</li>
          </ul>
        </div>

        <div class="my-signature">
          <img src="static/images/sign.png" alt="">
        </div>

        <div class="download-button">
          <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>{% trans "GEN24" %}</a>
          <a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i>{% trans "GEN23" %}</a>
        </div>
      </div>


    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section><!-- End About Section -->


{#<!-- Video Section -->#}
{#<section id="video" class="video-section">#}
{#  <div class="tf-bg-overlay">#}
{##}
{#    <div class="container">#}
{##}
{#      <div class="video-intro">#}
{#         <a class="popup-video" href="https://www.youtube.com/watch?v=LGOjcu0HRec"> <i class="fa fa-play"></i>  </a>#}
{#         <h2>Video Introducing</h2>#}
{#      </div>#}
{##}
{#    </div>#}
{##}
{#    <!--/.container-->#}
{#  </div>#}
{#  <!--/.overlay-->#}
{#</section>#}
{#<!-- /.Video Section -->#}


<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">{% trans "GEN4" %}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>{% trans "GEN10" %}</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        {% cycle 'timeline-inverted' '' as timeline_class %}
                        {% for exp in resume_education  %}
                            <li class=" {% cycle timeline_class %}">
                                <div class="posted-date">
                                    <span class="month">{{ exp.start_year }}-{{ exp.end_year }}</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3> {% if pt_br or not exp.en_title %} {{ exp.title }} {% else %} {{ exp.en_title }} {% endif %} </h3>
                                            <span> {{ exp.where }} </span>
                                        </div><!-- /timeline-heading -->
                                        <div class="timeline-body">
                                            <p>{% if pt_br or not exp.en_description %} {{ exp.description }} {% else %} {{ exp.en_description }} {% endif %} </p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>{% trans "GEN11" %}</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        {% for exp in resume_experiences  %}
                            <li class=" {% cycle timeline_class %}">
                                <div class="posted-date">
                                    <span class="month">{{ exp.start_year }}-{{ exp.end_year }}</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3> {% if pt_br or not exp.en_title %} {{ exp.title }} {% else %} {{ exp.en_title }} {% endif %} </h3>
                                            <span> {{ exp.where }} </span>
                                        </div><!-- /timeline-heading -->
                                        <div class="timeline-body">
                                            <p>{% if pt_br or not exp.en_description %} {{ exp.description }} {% else %} {{ exp.en_description }} {% endif %} </p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /.container -->
</section><!-- End Resume Section -->


<!-- Skills Section -->
<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">{% trans "GEN5" %}</h2>
    <div class="row">
      <div class="col-md-6">
          {% for skill in bar_skills %}
              {% if skill.id|divisibleby:2 %}
                <div class="skill-progress">
                  <div class="skill-title"><h3>{{ skill.name }}</h3></div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100" ><span>{{ skill.proficiency }}%</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- /.skill-progress -->
              {% endif %}
          {% endfor %}
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
          {% for skill in bar_skills %}
              {% if not skill.id|divisibleby:2 %}
                <div class="skill-progress">
                  <div class="skill-title"><h3>{{ skill.name }}</h3></div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100" ><span>{{ skill.proficiency }}%</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- /.skill-progress -->
              {% endif %}
          {% endfor %}
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->

    <div class="skill-chart text-center">
      <h3>{% trans "GEN28" %}</h3>
    </div>

    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="91" data-color="e74c3c">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>leadership</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="23" data-color="2ecc71">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>Creativity</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="68" data-color="3498db">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>Management</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="68" data-color="3498db">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>Branding</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="68" data-color="3498db">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>Marketing</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="chart" data-percent="68" data-color="3498db">
                <span class="percent"></span>
                <div class="chart-text">
                  <span>Motivation</span>
                </div>
            </div>
        </div>
    </div>

  </div><!-- /.container -->
</section><!-- End Skills Section -->


<!-- Works Section -->
<section id="works" class="works-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">{% trans "GEN6" %}</h2>
    <ul class="list-inline" id="filter">
        <li><a class="active" data-group="all">{% trans "GEN26" %}</a></li>
        {% for project_type in projects_types  %}
            <li><a data-group="{{ project_type.name }}"> {% if  pt_br or not project_type.en_name %}{{ project_type.name }}{% else %}{{ project_type.en_name }}{% endif %}</a></li>
        {% endfor %}
    </ul>

    <div class="row">
      <div id="grid">
          {% for project in  projects %}
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "{{ project.type.name }}" ]'>
              <div class="portfolio-bg">
                <div class="portfolio">
                  <div class="tt-overlay"></div>
                  <div class="links">
                      {% if project.images.count > 0 %}
                        <a class="image-link" href="static/images/works/portfolio-1.jpg"><i class="fa fa-search-plus"></i></a>
                      {% else %}
                        <a class="image-link" href="{{ setting.PLACEHOLDER_B64_STRING }}"><i class="fa fa-search-plus"></i></a>
                      {% endif %}
                    <a href="#"><i class="fa fa-link"></i></a>
                  </div><!-- /.links -->
                  {% if project.images.count > 0 %}
                    <img src="static/images/works/portfolio-1.jpg" alt="image">
                  {% else %}
                    <img src="static/images/works/portfolio-1.jpg" alt="image">
                  {% endif %}
                  <div class="portfolio-info">
                    <h3>{{ project.name }}</h3>
                  </div><!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
          {% endfor %}


        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "web"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-2.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-2.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "interface"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-3.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-3.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-4.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-4.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-5.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-5.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-6.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-6.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "web"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-7.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-7.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "design"]'>
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="static/images/works/portfolio-8.jpg"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- /.links -->
              <img src="static/images/works/portfolio-8.jpg" alt="image">
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div><!-- /.portfolio-info -->
            </div><!-- /.portfolio -->
          </div><!-- /.portfolio-bg -->
        </div><!-- /.portfolio-item -->
      </div><!-- /#grid -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Works Section -->


<!-- Facts Section -->
<section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="tt-overlay-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="count-wrap">
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-flask"></i>
              <h3 class="timer">{{ years }}</h3>
              <p>{% trans "GEN12" %}</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-thumbs-up"></i>
              <h3 class="timer">{{projects.count}}</h3>
              <p>{% trans "GEN13" %}</p>
            </div>
            {% comment %}
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-users"></i>
              <h3 class="timer">251</h3>
              <p>{% trans "happy_clients" %}</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-trophy"></i>
              <h3 class="timer">5</h3>
              <p>{% trans "won_awards" %}</p>
            </div>
            {% endcomment %}
          </div><!-- /count-wrap -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
</section> <!-- End Facts Section -->

{% comment %}
<!-- Blog Section -->
<section id="blog" class="latest-blog-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Latest Post</h2>

    <div class="row">
      <div class="col-sm-4">
        <article class="blog-post-wrapper">
          <div class="figure">
            <div class="post-thumbnail">
              <a href="#"><img src="static/images/blog/01.jpg" class="img-responsive " alt=""></a>
            </div>
              <i class="fa fa-file-photo-o"></i>
          </div><!-- /.figure -->
          <header class="entry-header">
            <div class="post-meta">
              <span class="the-category">
                <a href="#">Print Design,</a> <a href="#">Photoshop</a>
              </span>
            </div>
            <h2 class="entry-title"><a href="#" rel="">Common fonts used for newspaper template design</a></h2>
            <hr>
            <div class="entry-meta">
              <ul class="list-inline">
                <li>
                  <span class="the-author">
                    <a href="#">Admin</a>
                  </span>
                </li>
                <li>
                  <span class="the-time">
                    <a href="#">06 Jan 2015</a>
                  </span>
                </li>
                <li>
                  <span class="the-share">
                    <a href="#" title="share">30</a>
                  </span>
                </li>
                <li>
                  <span class="the-comments">
                    <a href="#" title="">05</a>
                  </span>
                </li>
              </ul>
            </div><!-- .entry-meta -->
          </header><!-- .entry-header -->
        </article>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <article class="blog-post-wrapper">
          <div class="figure">
            <div class="post-thumbnail">
              <a href="#"><img src="static/images/blog/02.jpg" class="img-responsive " alt=""></a>
            </div>
              <i class="fa fa-file-video-o"></i>
          </div><!-- /.figure -->
          <header class="entry-header">
            <div class="post-meta">
              <span class="the-category">
                <a href="#">Print Design,</a> <a href="#">Photoshop</a>
              </span>
            </div>
            <h2 class="entry-title"><a href="#" rel="">What is the style of font called that is typically</a></h2>
            <hr>
            <div class="entry-meta">
              <ul class="list-inline">
                <li>
                  <span class="the-author">
                    <a href="#">Admin</a>
                  </span>
                </li>
                <li>
                  <span class="the-time">
                    <a href="#">06 Jan 2015</a>
                  </span>
                </li>
                <li>
                  <span class="the-share">
                    <a href="#" title="share">30</a>
                  </span>
                </li>
                <li>
                  <span class="the-comments">
                    <a href="#" title="">05</a>
                  </span>
                </li>
              </ul>
            </div><!-- .entry-meta -->
          </header><!-- .entry-header -->
        </article>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <article class="blog-post-wrapper">
          <div class="figure">
            <div class="post-thumbnail">
              <a href="#"><img src="static/images/blog/03.jpg" class="img-responsive " alt=""></a>
            </div>
              <i class="fa fa-quote-left"></i>
          </div><!-- /.figure -->
          <header class="entry-header">
            <div class="post-meta">
              <span class="the-category">
                <a href="#">Print Design,</a> <a href="#">Photoshop</a>
              </span>
            </div>
            <h2 class="entry-title"><a href="#" rel="">How to create a print ready brochure using photoshop</a></h2>
            <hr>
            <div class="entry-meta">
              <ul class="list-inline">
                <li>
                  <span class="the-author">
                    <a href="#">Admin</a>
                  </span>
                </li>
                <li>
                  <span class="the-time">
                    <a href="#">06 Jan 2015</a>
                  </span>
                </li>
                <li>
                  <span class="the-share">
                    <a href="#" title="share">30</a>
                  </span>
                </li>
                <li>
                  <span class="the-comments">
                    <a href="#" title="">05</a>
                  </span>
                </li>
              </ul>
            </div><!-- .entry-meta -->
          </header><!-- .entry-header -->
        </article>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
    <div class="blog-more text-center">
      <a href="#" class="btn btn-primary">View More</a>
    </div>

  </div><!-- /.container -->
</section><!-- End Blog Section -->
{% endcomment %}

<!-- Hire Section -->
<section class="hire-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="hire-section-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>I'm available for freelance project</h2>
          <a href="#" class="btn btn-default">Get Hired</a>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.hire-section-bg -->
</section><!-- End Hire Section -->



<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">{% trans "GEN7" %}</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="contact-form">
          <strong>{% trans "contact_me_header" %}</strong>
          <form name="contact-form" id="contactForm" action="sendemail.php" method="POST">

            <div class="form-group">
              <label for="name">{% trans "GEN16" %}</label>
              <input type="text" name="name" class="form-control" id="name" required="">
            </div>

            <div class="form-group">
              <label for="email">{% trans "GEN17" %}</label>
              <input type="email" name="email" class="form-control" id="email" required="">
            </div>

            <div class="form-group">
              <label for="subject">{% trans "GEN18" %}</label>
              <input type="text" name="subject" class="form-control" id="subject">
            </div>

            <div class="form-group">
              <label for="message">{% trans "GEN27" %}</label>
              <textarea name="message" class="form-control" id="message" rows="5" required=""></textarea>
            </div>

            <button type="submit" name="submit" class="btn btn-primary">{% trans "GEN20" %}</button>
          </form>
        </div><!-- /.contact-form -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="row center-xs">
          <div class="col-sm-6">
            <i class="fa fa-map-marker"></i>
            <address>
              <strong>{% trans "GEN14" %}</strong>
              {{ settings.OWNER_INFO.address }}<br>
              {{ settings.OWNER_INFO.city }}, {{ settings.OWNER_INFO.region }}, {{ settings.OWNER_INFO.country }}<br>
            </address>
          </div>

          <div class="col-sm-6">
            <i class="fa fa-mobile"></i>
            <div class="contact-number">
              <strong>{% trans "GEN15" %}</strong>
              {{ settings.MOBILE_NUMBER }}<br>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="location-map">
            <div id="mapCanvas" class="map-canvas"></div>
          </div>
        </div>
      </div>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Contact Section -->


<!-- Footer Section -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>&copy; {{ settings.DEVELOPER_NAME }} {% now "Y" %}</p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer Section -->
<!-- Scroll-up -->
<div class="scroll-up">
    <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>
{% endblock %}
