.span3 {
    width: 30%;
    height: 75px;
    border: solid 1px black;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li {
    list-style-type: none;
    padding-left: 0px;
    width: 30%;
    height: 75px;
    border: solid 1px black;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}

ul.twoCol li {
    width: 47%;
}