{% extends 'portfolio/base.html' %}
{% load include_maybe %}
{% load staticfiles %}

{% block meta-tag %}
  {% include "meta-tag.html" %}
{% endblock meta-tag %}

{% block required-css %}
  {% include "required-css.html" %}
{% endblock required-css %}

{% block required-css-page %}
  {% include_maybe ''|add:appActive|add:'/required-css-'|add:pageActive|add:".html" %}
{% endblock required-css-page %}

{% block header %}
  {% include "header.html" %}
{% endblock header %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}

{% block content %}
   {% include ''|add:appActive|add:'/content-'|add:pageActive|add:".html" %}
{% endblock content %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}

{% block required-js %}
  {% include "required-js.html" %}
{% endblock required-js %}

{% block required-js-page %}
  {% include_maybe ''|add:appActive|add:'/required-js-'|add:pageActive|add:".html" %}
{% endblock required-js-page %}
