{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{_('Page Dashboard')}}      
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"> {{_('Home')}} </a></li>
      <li class="active">{{_('Dashboard')}}</li>
    </ol>
  </section>

   {{ user.userextend.organization }}

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}
