{% block content %} {% load bootstrap3 %} {% bootstrap_messages %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <header class="content-header">
        <h1>
        <i class="ion ion-grid"></i> {{_('Page Element')}}
      <small class="mbottom35">{{_('Required Fields')}}</small>
    </h1>
        <ol class="breadcrumb">
            <li><a href="{{ settings.LOGIN_REDIRECT_URL }}"> {{_('Home')}} </a></li>
            <li class="active"><a href="{% url 'common_management_main' %}">{{_('Management')}}</a></li>
            <li class="active">{{_('Element')}}</li>
        </ol>
    </header>

    <!-- Main content -->
    <main class="content adjust-box-width">
        <div class="box">
            <div class="box-header">               
            </div>
            <div class="box-body">        
                
                <form method="POST" class="post-form" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="tag">{{_('Tag')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Tag')}}"></span> 
                            {% if view == 'view' %}
                            {% bootstrap_field elementForm.tag show_label=False set_disabled=True%}
                            {% else %}
                            {% bootstrap_field elementForm.tag show_label=False %}
                            {% endif %}
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="nome-elemento">{{_('Name')}}*</label>
                            <span class="ajuda glyphicon glyphicon-question-sign text-primary" 
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Element Name')}}"></span>
                            {% if view == 'view' %}
                            {% bootstrap_field elementForm.name show_label=False set_disabled=True%}
                            {% else %}
                            {% bootstrap_field elementForm.name show_label=False %}
                            {% endif %}
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>{{_('Short Name')}}*</label>
                            <span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Element Short Name')}}"></span>
                            {% if view == 'view' %}
                            {% bootstrap_field elementForm.short_name show_label=False set_disabled=True%}
                            {% else %}
                            {% bootstrap_field elementForm.short_name show_label=False %}
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="element-type">{{_('Element type')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Element Type')}}"></span>
                            <select id="element-type" class="form-control" name="element-type"  {% if view == 'edit' or view == 'view' %} data-disable='true' {% endif %}>
                                {% for elementType in scope.elementTypes %}
                                    <option value={{elementType.name}} data-target={{elementType.container}}>{{elementType.label}}</option>    
                                {% endfor %}                        
                            </select>
                            {% if type %}
                                <input type="hidden" id="selected-element-type" data-element-type={{type}} {% if view == 'view'%} disabled {% endif%}> 
                            {% endif %}                    
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="variavel">{{_('Variable')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Variable')}}"></span>                    
                            {% if view == 'view' %}
                            {% bootstrap_field elementForm.variable show_label=False set_disabled=True%}
                            {% else %}
                            {% bootstrap_field elementForm.variable show_label=False %}
                            {% endif %}
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 checkbox">
                            <p><strong>{{_('Timescale')}}</strong><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Timescale')}}"></span></p>
                            {% if elementForm.errors %}
                                {% if elementForm.timescale.errors %}
                                    <div class="form-group has-error">                           
                                {% endif %}
                            {% endif %}
                            {% for timescale in scope.timescales %}
                                <label class="checkbox-inline correct-padding">
                                    <input type="checkbox" name="timescale" id="timescale-{{timescale.id}}" value={{timescale.id}} data-tag={{timescale.tag}} {% if timescale in element.timescale.all %} checked {% endif %} {% if view == 'view'%} disabled {% endif%}> {{timescale.name}}
                                </label>
                            {% endfor %} 
                            {% if elementForm.errors %}
                                {% if elementForm.timescale.errors %}
                                    {% for error in  elementForm.timescale.errors %}
                                        <span class="help-block"> {{ error|escape }}</span>                            
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endif %}                                      
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden">
                            <label>{{_('Time Reference')}}*</label>
                            <span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Time Reference')}}"></span>
                            {% if elementForm.errors %}
                                {% if elementForm.time_reference.errors %}
                                    <div class="form-group has-error">                           
                                {% endif %}
                            {% endif %}
                            <input type="text" class="form-control" value={{elementForm.time_reference.value|default_if_none:'00:00'}} name="time_reference" id="time_reference" placeholder="hh:mm:ss" disabled {% if view == 'view'%} disabled {% endif%}>
                            {% if elementForm.errors %}
                                {% if elementForm.time_reference.errors %}
                                    {% for error in  elementForm.time_reference.errors %}
                                        <span class="help-block"> {{ error|escape }}</span>                            
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endif %}                    
                        </div>

                        <!--  Alfanumérico  -->
                        <div data-option="alphanumeric" class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden">
                            <label for="char_limit">{{_('Limit for Presentation')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Limit for Presentation')}}"></span>
                            {% if elementForm.errors %}
                                {% if elementForm.char_limit.errors %}
                                    <div class="form-group has-error">                           
                                {% endif %}
                            {% endif %}
                            <input type="text" class="form-control" name="char_limit" value="{{elementForm.char_limit.value}}" id="char_limit" {% if view == 'view'%} disabled {% endif%}>
                            {% if elementForm.errors %}
                                {% if elementForm.char_limit.errors %}
                                    {% for error in  elementForm.char_limit.errors %}
                                        <span class="help-block"> {{ error|escape }}</span>                            
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>


                        <!-- Numérico -->
                        <div data-option="numeric" class="hidden">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 radio-inline correct-padding">
                                <p><strong>{{_('Allow negative values')}}*</strong> <span class="ajuda glyphicon glyphicon-question-sign text-primary"
                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Allow negative values')}}"></span></p>
                                <label class="radio-inline">
                                    <input type="radio" name="negative-radio-options" id="not-allowed" value="not-allowed" {% if element.allow_negative != True%} checked {% endif %} {% if view == 'view'%} disabled {% endif%}> {{_('Positive Only')}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="negative-radio-options" id="allowed" value="allowed" {% if element.allow_negative %} checked {% endif %} {% if view == 'view'%} disabled {% endif%}> {{_('Positive and Negative')}}
                                </label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="funcao_amostragem">{{_('Operation')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Operation')}}"></span>
                                <select id="operation" name="operation" class="form-control" {% if view == 'view'%} disabled {% endif%}>
                                    {% for operation in scope.operations %}
                                        <option value={{operation.id}}>{{operation.name}}</option>    
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="position">{{_('Position or Height')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Position')}}"></span>
                                {% if elementForm.errors %}
                                    {% if elementForm.position.errors %}
                                        <div class="form-group has-error">                           
                                    {% endif %}
                                {% endif %}
                                <input type="text" class="form-control" value="{{elementForm.position.value}}" id="position" name="position" {% if view == 'view'%} disabled {% endif%}>
                                {% if elementForm.errors %}
                                    {% if elementForm.position.errors %}
                                        {% for error in  elementForm.position.errors %}
                                            <span class="help-block"> {{ error|escape }}</span>                            
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="un_medida">{{_('Unit')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Unit')}}"></span>
                                <select id="unit" name="unit" class="form-control" {% if view == 'view'%} disabled {% endif%}>
                                    {% for unit in scope.units %}
                                        <option value={{unit.id}}>{{unit.name}}</option>    
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <label for="plausible_low">{{_('Plausible low value')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Plausible low value')}}"></span>
                                        {% if elementForm.errors %}
                                            {% if elementForm.plausible_low.errors %}
                                                <div class="form-group has-error">                           
                                            {% endif %}
                                        {% endif %}
                                        <input type="text" class="form-control" id="plausible_low" name="plausible_low" value="{{elementForm.plausible_low.value|default_if_none:'0'}}" placeholder="0" {% if view == 'view'%} disabled {% endif%}>
                                        {% if elementForm.errors %}
                                            {% if elementForm.plausible_low.errors %}
                                                {% for error in  elementForm.plausible_low.errors %}
                                                    <span class="help-block"> {{ error|escape }}</span>                            
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 correct-margin">
                                        <label>
                                            <input type="checkbox" id="include_plausible_low" name="include_plausible_low" {%if elementForm.include_plausible_low.value %} checked {% endif %} {% if view == 'view'%} disabled {% endif%}> {{_('Inclusive')}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <label for="plausible_high">{{_('Plausible high value')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Plausible high value')}}"></span>
                                        {% if elementForm.errors %}
                                            {% if elementForm.plausible_high.errors %}
                                                <div class="form-group has-error">                           
                                            {% endif %}
                                        {% endif %}
                                        <input type="text" class="form-control" id="plausible_high" name="plausible_high" value="{{elementForm.plausible_high.value|default_if_none:'100'}}" placeholder="100" {% if view == 'view'%} disabled {% endif%}>
                                        {% if elementForm.errors %}
                                            {% if elementForm.plausible_high.errors %}
                                                {% for error in  elementForm.plausible_high.errors %}
                                                    <span class="help-block"> {{ error|escape }}</span>                            
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 correct-margin">
                                        <label>
                                            <input type="checkbox" id="include_plausible_high" name="include_plausible_high" {%if elementForm.include_plausible_high.value %} checked {% endif %}" {% if view == 'view'%} disabled {% endif%}> {{_('Inclusive')}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div data-option id="decimal-container" class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden">
                                <label for="decimal_digits">{{_('Decimal Digits')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary"
                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Decimal Digits')}}"></span>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        {% if elementForm.errors %}
                                            {% if elementForm.decimal_digits.errors %}
                                                <div class="form-group has-error">                           
                                            {% endif %}
                                        {% endif %}
                                        <input type="text" class="form-control" id="decimal_digits" name="decimal_digits" value="{{elementForm.decimal_digits.value|default_if_none:'1'}}" {% if view == 'view'%} disabled {% endif%}>
                                        {% if elementForm.errors %}
                                            {% if elementForm.decimal_digits.errors %}
                                                {% for error in  elementForm.decimal_digits.errors %}
                                                    <span class="help-block"> {{ error|escape }}</span>                            
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>              

                        <!-- Código -->
                        <div data-option="code" class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden">
                            <label for="tablea_wmo">{{_('WMO Table')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top" title="{{_('Tooltip WMO Table')}}"></span>
                            <select id="wmo_table" name="wmo_table" class="form-control" {% if view == 'view'%} disabled {% endif%}>
                                {% for wmo_table in scope.wmoTables %}
                                    <option value={{wmo_table.id}}>{{wmo_table.description}}</option>    
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Datetime / time -->
                        <div data-option="date-time" class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden">
                            <label for="tablea_wmo">{{_('Element')}}*</label><span class="ajuda glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top" title="{{_('Tooltip Element Reference')}}"></span>
                            <select id="element_reference" name="element_reference" class="form-control" {% if view == 'view'%} disabled {% endif%}>
                                {% for element in scope.elements %}
                                    <option value={{element.id}}>{{element.name}}</option>    
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Submit -->
                        {% if view != 'view'%}
                        <div class="form-group col-lg-12 botoes col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-primary btn-flat btn-lg">{{_('Save')}}</button>
                            <a href="{% url 'element_management' %}" class="btn btn-default btn-flat btn-lg">{{_('Cancel')}}</a>
                        </div>
                        {% else %}
                        <div class="form-group col-lg-12 botoes col-md-12 col-sm-12 col-xs-12">                    
                            <a href="{% url 'element_management' %}" class="btn btn-default btn-flat btn-lg">{{_('Back')}}</a>
                        </div>
                        {% endif%}
                    </div>
                </form>
            </div>
        </div>  

    </main>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}